.chat-container {
  display: flex;
  height: 100vh;
  flex-direction: column;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  
}

.message-container {
  flex: 1;
}

.message {
  display: flex;
  flex-direction: column;
  padding: 5px 10px;
  align-items: flex-start;
}

.message.my {
  align-items: flex-end;
}

.message-name {

}

.message-text {
  background-color: rgb(216, 216, 234);
  padding: 5px;
}

.message.my .message-text {
  border-radius: 12px;
  background-color: cornflowerblue;
  color: white;
}

.input-form {
  display: flex;
  padding: 15px;
  flex-direction: row;
  background-color: rgba(184, 186, 188, 0.605);
}

.input-field {
  flex: 1;
  border-radius: 5px;
  border: 1px slategray;
  padding: 5px;
}

.send-button {
  background-color: #0084ff;
  color: #fff;
  border-radius: 5px;
  border: none;
  padding: 5px;
  margin-left: 10px;
}

/* .chat-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.message-container {
  flex: 1;
  overflow-y: auto;
  padding: 10px;
}

.message {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 10px;
}

.message-bubble {
  background-color: #e9ebee;
  border-radius: 20px;
  padding: 10px 15px;
}

.message-text {
  color: #000;
  font-size: 14px;
}

.input-form {
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: #f0f2f5;
}

.input-field {
  flex: 1;
  padding: 10px;
  border: none;
  border-radius: 25px;
  background-color: #fff;
  font-size: 14px;
}

.send-button {
  background-color: #0084ff;
  color: #fff;
  border: none;
} */