.chat-container {
  display: flex;
  height: 100vh;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
  
}

.message-container {
  flex: 1;
}

.message {
  display: flex;
  flex-direction: column;
  padding: 5px 10px;
  align-items: flex-start;
}

.message .message-text {
  border-radius: 12px;
}

.message.my {
  align-items: flex-end;
}

.message-name {

}

.message-text {
  background-color: rgb(216, 216, 234);
  padding: 5px;
}

.message.my .message-text {  
  background-color: cornflowerblue;
  color: white;
}

.input-form {
  display: flex;
  padding: 15px;
  flex-direction: row;
  background-color: rgba(184, 186, 188, 0.605);
}

.input-field {
  flex: 1;
  border-radius: 5px;
  border: 1px slategray;
  padding: 5px;
}

.send-button {
  background-color: #0084ff;
  color: #fff;
  border-radius: 5px;
  border: none;
  padding: 5px;
  margin-left: 10px;
}
